*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  /* background-color: rgb(38, 94, 136); */
  background-image: linear-gradient(to bottom right, rgb(46, 118, 172), rgb(15, 66, 87));
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  margin: auto;
  margin-top: 50px;
  margin-bottom: -50px;
  font: Avenir;
}

.cpu-hand {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.play-area {
    display: flex;
    justify-content: space-evenly;
}

.score {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    color: rgb(6, 37, 62);
    font-size: x-large;
}

#cpu-score {
    /* color: rgb(121, 2, 2); */
}

#seperator {
    margin: 10px 0;
    border: 2px solid rgb(8, 81, 140);
}

#player-score {
    /* color: rgb(0, 140, 0); */
}

.player-hand {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

img {
    width: 100px;
    margin-left: -28px;
}

.player-hand img:hover {
    /* transform: translateY(-200px); */
    /* transition: all 0.2s ease-in-out; */
    transform: scale(1.1) translateY(-8px);
    transition: all 0.1s ease-in-out;
    /* box-shadow:  -29px 29px 58px #008ab4, 
             29px -29px 58px #00eaff; */
    cursor: pointer;
  }

.player-hand img {
    transition: all 0.1s ease-in-out; */
}

.draw-pile img:hover {
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.draw-pile img {
    transition: all 0.1s ease-in-out; */
}

.player-animation {
    position: relative;
    left: 70vw;
    bottom: 12vh;
}

.cpu-animation {
    position: relative;
    left: 70vw;
    top: -25vh;
}

.hidden {
    display: none;
}

.shout img {
    transform: scale(4);
    transition: all 0.5s ease-in-out;
}

.player-animation img {
    transition: all 0.5s ease-in-out;
}

.end-of {
    position: relative;
    top: -15vh;
    width: 20vw;
    margin: auto;
    font-size: xx-large;
    padding-top: 50px;
    border: 2px solid #00eaff;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
}